/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply Global Font */
html, body {
  font-family: "ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure Font Consistency in All Components */
body, button, input, textarea, select {
  font-family: inherit;
}
